{% extends "base.html" %}

{% block title %}Giriş Yap{% endblock %}

{% block content %}
    <h2>Sisteme Giriş Yap</h2>
    <form method="post">
        <label for="identifier">Öğrenci / Personel Numarası:</label>
        <input type="text" id="identifier" name="identifier" required>
        
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Giriş Yap</button>
    </form>
    <div class="form-links">
        <a href="#" onclick="alert('Bu özellik şu an aktif değildir.'); return false;">Şifremi Unuttum</a>
    </div>
{% endblock %} 